<!-- Starts up everything needed to run the example listener/talker Python nodes. -->
<launch>

  <node pkg="lta3" type="step_velocity_waypoint.py" name="waypoints" output="screen" launch-prefix="xterm -e">
  </node>

  <include file="$(find lta3)/launch/lta3_multiagent.launch">
   <arg name="lta3_id" value="lta9"/>
  </include>

  <include file="$(find lta3)/launch/follow.launch">
   <arg name="lta3_id" value="lta4"/>
   <arg name="prey" value="lta9"/>
  </include>

</launch>
