<!-- Starts up everything needed to run the example listener/talker Python nodes. -->
<launch>

  <include file="$(find lta3)/launch/lta3_multiagent.launch">
   <arg name="lta3_id" value="lta6"/>
  </include>

  <include file="$(find lta3)/launch/lta3_multiagent.launch">
   <arg name="lta3_id" value="lta7"/>
  </include>

  <include file="$(find lta3)/launch/lta3_multiagent.launch">
   <arg name="lta3_id" value="lta5"/>
  </include>

  <include file="$(find lta3)/launch/lta3_multiagent.launch">
   <arg name="lta3_id" value="lta10"/>
  </include>

</launch>
